.gray{
    border-bottom: 10px solid  gray ;
}
.green{
border-bottom: 10px solid  green ;
}
.blue{
border-bottom: 10px solid  blue;
}
.red{
border-bottom: 10px solid red ;
}
.yellow{
border-bottom: 10px solid yellow ;
}
.purple{
 border-bottom: 10px solid purple ;   
}
